.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(80, 79, 79);
  }
  li {
    display: inline;
  }
  li {
      float: left;
  }
  li a {
      display: block;
      color: beige;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  li a:hover {
      background-color: rgb(86, 136, 35);
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(143, 211, 35);
    color: white;
    text-align: center;
  }